/* 1- select p elements and make them red */
p{
    color: red;
}
/*  2- select p and div elements */
p,div{
    color: red
}
/* 3- select p with class mainClass direct child for div with id myDiv and make it styled  */
#myDiv>.mainClass{
    background-color: aqua;
}

/* 4- select all p inside div and style them  */
#container p{
    background-color: rgb(5, 57, 44);
}

/* 5- select input with type text element with class myClass */
input.myClass{
    background-color: blueviolet;
}

/* 6- select span elements after div  */
div~span{
    background-color: violet;
}

/* 7- select p with class myClass  */
p.myClass{
    background-color: wheat;
}

/*  8- select div with id myDiv */
#myDiv{
    background-color: lightcoral;
}