.nav {
  position: sticky;
  width: 100%;
  background-color: #333333;
  /* height: 30px; */
  align-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 500vh;
}
ul {
  font-weight: bold;
}
li {
  display: inline-block;
  padding: 15px 20px;
  align-items: center;
}
li:hover {
  background-color: Green;
}
a {
  display: grid;
  align-content: space-around;
  color: white;

  /* font-size: 20px; */
  text-decoration: none;

  justify-content: space-around;
}
.gg {
  background-color: green;
}
.content {
  /* padding: 20px; */
}
.z-index {
  position: relative;
  width: 50%;
  margin: 20px auto;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.z2 {
  position: absolute;
  bottom: 20px;
  right: 280px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 18px;
  z-index: 2;
}
img {
  width: 520px;
  height: 410px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  background: rgba(238, 234, 234, 0.3);
  justify-content: center;
  gap: 10px;
  margin: 40px auto;
  max-width: 70%;
}
